@tailwind base;
@tailwind components;
@tailwind utilities;


section {
	@apply py-10 md:py-16 lg:px-20 px-5;
}

.container {
	@apply mx-auto;
}

.row {
	@apply max-w-7xl mx-auto;
}

.sectionTitle {
	@apply text-3xl sm:text-4xl font-bold text-brand-100 !leading-6;
}

.sectionSubTitle {
	@apply font-bold text-brand-300
}

.faqAnswer a{
	@apply font-semibold underline
}

p {
	@apply text-brand-100
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.blog_content h2{
	@apply text-lg md:text-xl font-bold !leading-none text-brand-100 my-3
}

.blog_content p, .blog_content ul{
	@apply py-1
}

.blog_content{
	@apply text-brand-300 leading-relaxed tracking-wide
}

.blog_content a{
	@apply underline hover:text-brand-100 transition duration-300 font-semibold
}